# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=investence

# Database URL
DATABASE_URL=postgresql://postgres:password@postgres:5432/investence

# API Keys
NEWS_API_KEY=
GROQ_API_KEY=
GITHUB_TOKEN=

# App
DEBUG=True